{
  "openapi": "3.1.0",
  "info": {
    "title": "Travel Planner API",
    "version": "1.0.0",
    "description": "Classroom API with open CORS, 7-digit matricula auth header, and admin/student roles."
  },
  "servers": [
    {
      "url": "https://leiame.app",
      "description": "Production"
    }
  ],
  "security": [
    {
      "MatriculaAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "MatriculaAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "Use a 7-digit matricula for student requests or the admin token from config/admin.json to access admin routes."
      }
    },
    "schemas": {
      "Hotel": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "price": {
            "type": "integer"
          },
          "stars": {
            "type": "integer"
          },
          "amenities": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "Plane": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "code": {
            "type": "string"
          },
          "origin": {
            "type": "string"
          },
          "destination": {
            "type": "string"
          },
          "departure": {
            "type": "string",
            "format": "date-time"
          },
          "arrival": {
            "type": "string",
            "format": "date-time"
          },
          "price": {
            "type": "integer"
          }
        }
      },
      "Client": {
        "type": "object",
        "properties": {
          "matricula": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "role": {
            "type": "string",
            "enum": [
              "STUDENT",
              "ADMIN"
            ]
          },
          "active": {
            "type": "boolean"
          }
        }
      },
      "Purchase": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "clientMatricula": {
            "type": "string"
          },
          "hotelId": {
            "type": "integer",
            "nullable": true
          },
          "planeId": {
            "type": "integer",
            "nullable": true
          },
          "checkIn": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "checkOut": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "totalAmount": {
            "type": "integer"
          },
          "guests": {
            "type": "integer"
          }
        }
      },
      "Booking": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "clientMatricula": {
            "type": "string"
          },
          "hotelId": {
            "type": "integer",
            "nullable": true
          },
          "planeId": {
            "type": "integer",
            "nullable": true
          },
          "itineraryId": {
            "type": "integer",
            "nullable": true
          },
          "status": {
            "type": "string"
          }
        }
      },
      "Offer": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "discountPercent": {
            "type": "integer"
          },
          "validUntil": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "Location": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "state": {
            "type": "string",
            "nullable": true
          },
          "country": {
            "type": "string"
          },
          "description": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "Review": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "hotelId": {
            "type": "integer"
          },
          "clientMatricula": {
            "type": "string"
          },
          "rating": {
            "type": "integer"
          },
          "comment": {
            "type": "string",
            "nullable": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Itinerary": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "clientMatricula": {
            "type": "string"
          },
          "notes": {
            "type": "string",
            "nullable": true
          },
          "bookings": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Booking"
            }
          }
        }
      }
    }
  },
  "paths": {
    "/health": {
      "get": {
        "summary": "Health check",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "operationId": "healthCheck"
      }
    },
    "/auth/login": {
      "post": {
        "summary": "Echo bearer token for a matricula",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "matricula": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Token issued"
          }
        },
        "operationId": "login"
      }
    },
    "/locations": {
      "get": {
        "summary": "List locations (cities/regions)",
        "responses": {
          "200": {
            "description": "Locations",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Location"
                  }
                }
              }
            }
          }
        },
        "operationId": "listLocations"
      },
      "post": {
        "summary": "Create location (admin token required)",
        "security": [
          {
            "MatriculaAuth": []
          }
        ],
        "responses": {
          "201": {
            "description": "Created"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "operationId": "createLocation"
      }
    },
    "/locations/{id}": {
      "get": {
        "summary": "Get location by id",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Location"
          },
          "404": {
            "description": "Not found"
          }
        },
        "operationId": "getLocation"
      },
      "put": {
        "summary": "Update location (admin token required)",
        "security": [
          {
            "MatriculaAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updated"
          },
          "404": {
            "description": "Not found"
          }
        },
        "operationId": "updateLocation"
      },
      "delete": {
        "summary": "Delete location (admin token required)",
        "security": [
          {
            "MatriculaAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted"
          },
          "404": {
            "description": "Not found"
          }
        },
        "operationId": "deleteLocation"
      }
    },
    "/hotels": {
      "get": {
        "summary": "List hotels",
        "parameters": [
          {
            "in": "query",
            "name": "city",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "priceMin",
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "priceMax",
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "stars",
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "amenities",
            "schema": {
              "type": "string",
              "description": "Comma-separated list, e.g. wifi,pool"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Hotel list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Hotel"
                  }
                }
              }
            }
          }
        },
        "operationId": "listHotels"
      },
      "post": {
        "summary": "Create hotel (admin)",
        "security": [
          {
            "MatriculaAuth": []
          }
        ],
        "responses": {
          "201": {
            "description": "Created"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "operationId": "createHotel"
      }
    },
    "/hotels/{id}": {
      "get": {
        "summary": "Hotel by id",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Hotel"
          },
          "404": {
            "description": "Not found"
          }
        },
        "operationId": "getHotel"
      }
    },
    "/hotels/{id}/availability": {
      "get": {
        "summary": "Hotel availability",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "startDate",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "endDate",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Availability"
          }
        },
        "operationId": "getHotelAvailability"
      }
    },
    "/hotels/{id}/reviews": {
      "get": {
        "summary": "List reviews for a hotel",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Reviews",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Review"
                  }
                }
              }
            }
          }
        },
        "operationId": "listHotelReviews"
      },
      "post": {
        "summary": "Add review for a hotel (matrícula token required)",
        "security": [
          {
            "MatriculaAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "rating": {
                    "type": "integer"
                  },
                  "comment": {
                    "type": "string"
                  }
                },
                "required": [
                  "rating"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "operationId": "createHotelReview"
      }
    },
    "/planes": {
      "get": {
        "summary": "List flights",
        "parameters": [
          {
            "in": "query",
            "name": "origin",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "destination",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "date",
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Flights",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Plane"
                  }
                }
              }
            }
          }
        },
        "operationId": "listPlanes"
      },
      "post": {
        "summary": "Create flight (admin)",
        "security": [
          {
            "MatriculaAuth": []
          }
        ],
        "responses": {
          "201": {
            "description": "Created"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "operationId": "createPlane"
      }
    },
    "/planes/search": {
      "get": {
        "summary": "Search flights (alias of /planes)",
        "parameters": [
          {
            "in": "query",
            "name": "origin",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "destination",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "date",
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Flights",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Plane"
                  }
                }
              }
            }
          }
        },
        "operationId": "searchPlanes"
      }
    },
    "/clients": {
      "get": {
        "summary": "List clients (admin)",
        "security": [
          {
            "MatriculaAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Clients"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "operationId": "listClients"
      },
      "post": {
        "summary": "Create client (requires matricula token or admin token)",
        "security": [
          {
            "MatriculaAuth": []
          }
        ],
        "responses": {
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "operationId": "createClient"
      }
    },
    "/clients/{matricula}": {
      "get": {
        "summary": "Get client (self or admin)",
        "security": [
          {
            "MatriculaAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "matricula",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Client",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Client"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "operationId": "getClient"
      }
    },
    "/purchases": {
      "post": {
        "summary": "Create purchase (self or admin)",
        "security": [
          {
            "MatriculaAuth": []
          }
        ],
        "responses": {
          "201": {
            "description": "Created"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "operationId": "createPurchase"
      }
    },
    "/purchases/{id}": {
      "get": {
        "summary": "Get purchase (self or admin)",
        "security": [
          {
            "MatriculaAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Purchase",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Purchase"
                }
              }
            }
          },
          "404": {
            "description": "Not found"
          }
        },
        "operationId": "getPurchase"
      },
      "put": {
        "summary": "Update purchase (self or admin)",
        "security": [
          {
            "MatriculaAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updated"
          },
          "404": {
            "description": "Not found"
          }
        },
        "operationId": "updatePurchase"
      },
      "delete": {
        "summary": "Delete purchase (self or admin)",
        "security": [
          {
            "MatriculaAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted"
          },
          "404": {
            "description": "Not found"
          }
        },
        "operationId": "deletePurchase"
      }
    },
    "/offers": {
      "get": {
        "summary": "List offers (optionally filter by date)",
        "parameters": [
          {
            "in": "query",
            "name": "date",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Return offers valid on or after this date; optional."
          }
        ],
        "responses": {
          "200": {
            "description": "Offers"
          }
        },
        "operationId": "listOffers"
      }
    },
    "/offers/today": {
      "get": {
        "summary": "Today offers",
        "responses": {
          "200": {
            "description": "Offers"
          }
        },
        "operationId": "listTodayOffers"
      }
    },
    "/bookings": {
      "post": {
        "summary": "Create booking (self or admin)",
        "security": [
          {
            "MatriculaAuth": []
          }
        ],
        "responses": {
          "201": {
            "description": "Created"
          }
        },
        "operationId": "createBooking"
      }
    },
    "/itineraries": {
      "post": {
        "summary": "Create itinerary (self or admin)",
        "security": [
          {
            "MatriculaAuth": []
          }
        ],
        "responses": {
          "201": {
            "description": "Created"
          }
        },
        "operationId": "createItinerary"
      }
    },
    "/itineraries/{id}": {
      "get": {
        "summary": "Get itinerary (self or admin)",
        "security": [
          {
            "MatriculaAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Itinerary",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Itinerary"
                }
              }
            }
          },
          "404": {
            "description": "Not found"
          }
        },
        "operationId": "getItinerary"
      },
      "put": {
        "summary": "Update itinerary (self or admin)",
        "security": [
          {
            "MatriculaAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "notes": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated"
          },
          "404": {
            "description": "Not found"
          }
        },
        "operationId": "updateItinerary"
      }
    },
    "/reports/sales": {
      "get": {
        "summary": "Sales report (admin)",
        "security": [
          {
            "MatriculaAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Aggregated sales"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "operationId": "getSalesReport"
      }
    }
  }
}