{
  "openapi": "3.1.0",
  "info": {
    "title": "Travel Planner API - Client",
    "version": "1.0.0",
    "description": "Classroom API with open CORS, 7-digit matricula auth header, and admin/student roles."
  },
  "servers": [
    {
      "url": "https://leiame.app",
      "description": "Production"
    }
  ],
  "security": [
    {
      "MatriculaAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "MatriculaAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "Use a 7-digit matricula for student requests or the admin token from config/admin.json to access admin routes."
      }
    },
    "schemas": {
      "Hotel": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "price": {
            "type": "integer"
          },
          "stars": {
            "type": "integer"
          },
          "amenities": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "Plane": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "code": {
            "type": "string"
          },
          "origin": {
            "type": "string"
          },
          "destination": {
            "type": "string"
          },
          "departure": {
            "type": "string",
            "format": "date-time"
          },
          "arrival": {
            "type": "string",
            "format": "date-time"
          },
          "price": {
            "type": "integer"
          }
        }
      },
      "Client": {
        "type": "object",
        "properties": {
          "matricula": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "role": {
            "type": "string",
            "enum": [
              "STUDENT",
              "ADMIN"
            ]
          },
          "active": {
            "type": "boolean"
          }
        }
      },
      "Purchase": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "clientMatricula": {
            "type": "string"
          },
          "hotelId": {
            "type": "integer",
            "nullable": true
          },
          "planeId": {
            "type": "integer",
            "nullable": true
          },
          "checkIn": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "checkOut": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "totalAmount": {
            "type": "integer"
          },
          "guests": {
            "type": "integer"
          }
        }
      },
      "Booking": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "clientMatricula": {
            "type": "string"
          },
          "hotelId": {
            "type": "integer",
            "nullable": true
          },
          "planeId": {
            "type": "integer",
            "nullable": true
          },
          "itineraryId": {
            "type": "integer",
            "nullable": true
          },
          "status": {
            "type": "string"
          }
        }
      },
      "Offer": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "discountPercent": {
            "type": "integer"
          },
          "validUntil": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "Location": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "state": {
            "type": "string",
            "nullable": true
          },
          "country": {
            "type": "string"
          },
          "description": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "Review": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "hotelId": {
            "type": "integer"
          },
          "clientMatricula": {
            "type": "string"
          },
          "rating": {
            "type": "integer"
          },
          "comment": {
            "type": "string",
            "nullable": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Itinerary": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "clientMatricula": {
            "type": "string"
          },
          "notes": {
            "type": "string",
            "nullable": true
          },
          "bookings": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Booking"
            }
          }
        }
      }
    }
  },
  "paths": {
    "/health": {
      "get": {
        "summary": "Health check",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "operationId": "healthCheck"
      }
    },
    "/locations": {
      "get": {
        "summary": "List locations (cities/regions)",
        "responses": {
          "200": {
            "description": "Locations",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Location"
                  }
                }
              }
            }
          }
        },
        "operationId": "listLocations"
      }
    },
    "/locations/{id}": {
      "get": {
        "summary": "Get location by id",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Location"
          },
          "404": {
            "description": "Not found"
          }
        },
        "operationId": "getLocation"
      }
    },
    "/hotels": {
      "get": {
        "summary": "List hotels",
        "parameters": [
          {
            "in": "query",
            "name": "city",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "priceMin",
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "priceMax",
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "stars",
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "amenities",
            "schema": {
              "type": "string",
              "description": "Comma-separated list, e.g. wifi,pool"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Hotel list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Hotel"
                  }
                }
              }
            }
          }
        },
        "operationId": "listHotels"
      }
    },
    "/hotels/{id}": {
      "get": {
        "summary": "Hotel by id",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Hotel"
          },
          "404": {
            "description": "Not found"
          }
        },
        "operationId": "getHotel"
      }
    },
    "/hotels/{id}/availability": {
      "get": {
        "summary": "Hotel availability",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "startDate",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "endDate",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Availability"
          }
        },
        "operationId": "getHotelAvailability"
      }
    },
    "/hotels/{id}/reviews": {
      "get": {
        "summary": "List reviews for a hotel",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Reviews",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Review"
                  }
                }
              }
            }
          }
        },
        "operationId": "listHotelReviews"
      },
      "post": {
        "summary": "Add review for a hotel (matrícula token required)",
        "security": [
          {
            "MatriculaAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "rating": {
                    "type": "integer"
                  },
                  "comment": {
                    "type": "string"
                  }
                },
                "required": [
                  "rating"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "operationId": "createHotelReview"
      }
    },
    "/planes/search": {
      "get": {
        "summary": "Search flights (alias of /planes)",
        "parameters": [
          {
            "in": "query",
            "name": "origin",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "destination",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "date",
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Flights",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Plane"
                  }
                }
              }
            }
          }
        },
        "operationId": "searchPlanes"
      }
    },
    "/clients": {
      "post": {
        "summary": "Create client (requires matricula token or admin token)",
        "security": [
          {
            "MatriculaAuth": []
          }
        ],
        "responses": {
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "operationId": "createClient",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "matricula",
                  "name",
                  "email"
                ],
                "properties": {
                  "matricula": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "role": {
                    "type": "string",
                    "enum": [
                      "STUDENT",
                      "ADMIN"
                    ]
                  },
                  "active": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/clients/{matricula}": {
      "get": {
        "summary": "Get client (self or admin)",
        "security": [
          {
            "MatriculaAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "matricula",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Client",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Client"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "operationId": "getClient"
      },
      "put": {
        "responses": {
          "200": {
            "description": "Updated"
          },
          "404": {
            "description": "Not found"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "matricula",
                  "name",
                  "email"
                ],
                "properties": {
                  "matricula": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "role": {
                    "type": "string",
                    "enum": [
                      "STUDENT",
                      "ADMIN"
                    ]
                  },
                  "active": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "operationId": "updateClient",
        "security": [
          {
            "MatriculaAuth": []
          }
        ]
      },
      "delete": {
        "responses": {
          "200": {
            "description": "Deleted"
          },
          "404": {
            "description": "Not found"
          }
        },
        "operationId": "deleteClient",
        "security": [
          {
            "MatriculaAuth": []
          }
        ]
      }
    },
    "/purchases": {
      "post": {
        "summary": "Create purchase (self or admin)",
        "security": [
          {
            "MatriculaAuth": []
          }
        ],
        "responses": {
          "201": {
            "description": "Created"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "operationId": "createPurchase",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "clientMatricula",
                  "totalAmount"
                ],
                "properties": {
                  "clientMatricula": {
                    "type": "string"
                  },
                  "hotelId": {
                    "type": "integer"
                  },
                  "planeId": {
                    "type": "integer"
                  },
                  "checkIn": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "checkOut": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "totalAmount": {
                    "type": "integer"
                  },
                  "guests": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/purchases/{id}": {
      "get": {
        "summary": "Get purchase (self or admin)",
        "security": [
          {
            "MatriculaAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Purchase",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Purchase"
                }
              }
            }
          },
          "404": {
            "description": "Not found"
          }
        },
        "operationId": "getPurchase"
      },
      "put": {
        "summary": "Update purchase (self or admin)",
        "security": [
          {
            "MatriculaAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updated"
          },
          "404": {
            "description": "Not found"
          }
        },
        "operationId": "updatePurchase",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "clientMatricula",
                  "totalAmount"
                ],
                "properties": {
                  "clientMatricula": {
                    "type": "string"
                  },
                  "hotelId": {
                    "type": "integer"
                  },
                  "planeId": {
                    "type": "integer"
                  },
                  "checkIn": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "checkOut": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "totalAmount": {
                    "type": "integer"
                  },
                  "guests": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete purchase (self or admin)",
        "security": [
          {
            "MatriculaAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted"
          },
          "404": {
            "description": "Not found"
          }
        },
        "operationId": "deletePurchase"
      }
    },
    "/offers": {
      "get": {
        "summary": "List offers (optionally filter by date)",
        "parameters": [
          {
            "in": "query",
            "name": "date",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Return offers valid on or after this date; optional."
          }
        ],
        "responses": {
          "200": {
            "description": "Offers"
          }
        },
        "operationId": "listOffers"
      }
    },
    "/offers/today": {
      "get": {
        "summary": "Today offers",
        "responses": {
          "200": {
            "description": "Offers"
          }
        },
        "operationId": "listTodayOffers"
      }
    },
    "/bookings": {
      "post": {
        "summary": "Create booking (self or admin)",
        "security": [
          {
            "MatriculaAuth": []
          }
        ],
        "responses": {
          "201": {
            "description": "Created"
          }
        },
        "operationId": "createBooking",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "clientMatricula"
                ],
                "properties": {
                  "clientMatricula": {
                    "type": "string"
                  },
                  "hotelId": {
                    "type": "integer"
                  },
                  "planeId": {
                    "type": "integer"
                  },
                  "itineraryId": {
                    "type": "integer"
                  },
                  "status": {
                    "type": "string"
                  },
                  "checkIn": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "checkOut": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "totalAmount": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/itineraries": {
      "post": {
        "summary": "Create itinerary (self or admin)",
        "security": [
          {
            "MatriculaAuth": []
          }
        ],
        "responses": {
          "201": {
            "description": "Created"
          }
        },
        "operationId": "createItinerary",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "notes": {
                    "type": "string"
                  },
                  "clientMatricula": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/itineraries/{id}": {
      "get": {
        "summary": "Get itinerary (self or admin)",
        "security": [
          {
            "MatriculaAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Itinerary"
          },
          "404": {
            "description": "Not found"
          }
        },
        "operationId": "getItinerary"
      },
      "put": {
        "summary": "Update itinerary (self or admin)",
        "security": [
          {
            "MatriculaAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "notes": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated"
          },
          "404": {
            "description": "Not found"
          }
        },
        "operationId": "updateItinerary"
      },
      "delete": {
        "summary": "Delete itinerary (self or admin)",
        "security": [
          {
            "MatriculaAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted"
          },
          "404": {
            "description": "Not found"
          }
        },
        "operationId": "deleteItinerary"
      }
    },
    "/planes/{id}": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Plane"
          },
          "404": {
            "description": "Not found"
          }
        },
        "operationId": "getPlane"
      }
    },
    "/offers/{id}": {
      "get": {
        "summary": "Get offer",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Offer"
          },
          "404": {
            "description": "Not found"
          }
        },
        "operationId": "getOffer"
      }
    },
    "/bookings/{id}": {
      "put": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "clientMatricula"
                ],
                "properties": {
                  "clientMatricula": {
                    "type": "string"
                  },
                  "hotelId": {
                    "type": "integer"
                  },
                  "planeId": {
                    "type": "integer"
                  },
                  "itineraryId": {
                    "type": "integer"
                  },
                  "status": {
                    "type": "string"
                  },
                  "checkIn": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "checkOut": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "totalAmount": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "operationId": "updateBooking",
        "security": [
          {
            "MatriculaAuth": []
          }
        ]
      },
      "get": {
        "summary": "Get booking",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Booking"
          },
          "404": {
            "description": "Not found"
          }
        },
        "operationId": "getBooking",
        "security": [
          {
            "MatriculaAuth": []
          }
        ]
      },
      "delete": {
        "summary": "Delete booking",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted"
          },
          "404": {
            "description": "Not found"
          }
        },
        "operationId": "deleteBooking",
        "security": [
          {
            "MatriculaAuth": []
          }
        ]
      }
    }
  }
}